.paginacao {
    border: 0 !important;
    border-radius: 10px;
    background-color: #FFF;
    color: #38DBBB !important;
    display: inline-flex !important;
    padding: 6px 12px 6px 6px !important;
    margin: 40px 0 !important;
    .MuiIconButton-root:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }
}